<div>Tweets: <%= Tweet.count %></div>
<div>Words: <%= Word.count %></div>
<div>Images: <%= Image.count %></div>

<ol>
  <% @words.each do |word| %>
    <li>
      <a href="/words/<%= word.string %>"><%= word.string %></a>: <%= word.tweets_count %>
    </li>
  <% end %>
</ol>
